/* Averta */
@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../style/Averta/Averta-Regular.otf) format('opentype');
}

/* Averta */
@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../style/Averta/Averta-Semibold.otf) format('opentype');
}

/* Averta */
@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../style/Averta/Averta-Bold.otf) format('opentype');
}